@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

* {
  box-sizing: border-box;
  transition: all .3s;
  font-family: 'Rubik', sans-serif;
  line-height: 1.8 !important;

}

.darkTheme {
  --bg: #292929;
  --shadowColor: rgba(255, 255, 255, 0.4);
  --deafult: #000;
  --grey4: #f5f5f5;
  --grey3: #eeeeee;
  --grey2: #e0e0e0;
  --grey1: #bdbdbd;
}

.lightTheme {
  --bg: #eaeaea;
  --shadowColor: rgba(0, 0, 0, 0.3);
  --default: #fff;
  --grey1: #757575;
  --grey2: #616161;
  --grey3: #424242;
  --grey4: #212121;
}

.grey1Text {
  color: var(--grey1);
}

.grey2Text {
  color: var(--grey2);
}

.grey3Text {
  color: var(--grey3);
}

.grey4Text {
  color: var(--grey4);
}

.buttonMain {
  background: #3498db;
  color: #fff;
  padding: 10px 30px;
  border-radius: 50px;
  font-size: 17px;
  display: inline-block;
  transition: all 0.2s;
  border: 2px solid #3498db;
  margin: 15px 0px;
}

.buttonMain:hover {
  background: transparent;
  color: #3498db;
  padding: 10px 35px;
  border: 2px solid #3498db;
  text-decoration: none;
}

.no-padding {
  padding: 0px !important;
}

.no-margin {
  margin: 0px !important;
}

.bold {
  font-weight: bold;
}
